<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--<multipart-config>-->
    <!--    <max-file-size>524288000</max-file-size>
    <max-request-size>524288000</max-request-size>
    <file-size-threshold>0</file-size-threshold>-->
    <!--</multipart-config>-->
    <filter>
        <filter-name>LoginValidate</filter-name>
        <filter-class>filter.LoginValidate</filter-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginValidate</filter-name>
        <servlet-name>HomeController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTourController</servlet-name>
        <servlet-class>controller.ListTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourDetailController</servlet-name>
        <servlet-class>controller.TourDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingTourController</servlet-name>
        <servlet-class>controller.BookingTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controller.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDeleteController</servlet-name>
        <servlet-class>controller.CartDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartApprove</servlet-name>
        <servlet-class>controller.CartApproveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartOverViewController</servlet-name>
        <servlet-class>controller.CartOverViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoriteController</servlet-name>
        <servlet-class>controller.FavoriteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyTourController</servlet-name>
        <servlet-class>controller.ViewMyTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourController</servlet-name>
        <servlet-class>controller.SearchTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewController</servlet-name>
        <servlet-class>controller.ReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelMyTourController</servlet-name>
        <servlet-class>controller.CancelMyTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReviewController</servlet-name>
        <servlet-class>controller.EditReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReviewController</servlet-name>
        <servlet-class>controller.DeleteReviewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassWord</servlet-name>
        <servlet-class>controller.ChangePassWord</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/view/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/view/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/view/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTourController</servlet-name>
        <url-pattern>/listtour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourDetailController</servlet-name>
        <url-pattern>/view/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingTourController</servlet-name>
        <url-pattern>/view/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/view/reset</url-pattern>
    </servlet-mapping>
    <!--nhi-->
    <servlet>
        <servlet-name>HotelListController</servlet-name>
        <servlet-class>controller.hotel.HotelListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelAddCotroller</servlet-name>
        <servlet-class>controller.hotel.HotelAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelDeleteController</servlet-name>
        <servlet-class>controller.hotel.HotelDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelUpdateController</servlet-name>
        <servlet-class>controller.hotel.HotelUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantListController</servlet-name>
        <servlet-class>controller.restaurant.RestaurantListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantAddController</servlet-name>
        <servlet-class>controller.restaurant.RestaurantAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantDeleteController</servlet-name>
        <servlet-class>controller.restaurant.RestaurantDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantUpdateController</servlet-name>
        <servlet-class>controller.restaurant.RestaurantUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleListController</servlet-name>
        <servlet-class>controller.vehicle.VehicleListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleAddController</servlet-name>
        <servlet-class>controller.vehicle.VehicleAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleUpdateController</servlet-name>
        <servlet-class>controller.vehicle.VehicleUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleDeleteController</servlet-name>
        <servlet-class>controller.vehicle.VehicleDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelDetailController</servlet-name>
        <servlet-class>controller.hotel.HotelDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantDetailController</servlet-name>
        <servlet-class>controller.restaurant.RestaurantDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleDetailController</servlet-name>
        <servlet-class>controller.vehicle.VehicleDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelListController</servlet-name>
        <url-pattern>/hotel/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelAddCotroller</servlet-name>
        <url-pattern>/hotel/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelDeleteController</servlet-name>
        <url-pattern>/hotel/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelUpdateController</servlet-name>
        <url-pattern>/hotel/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantListController</servlet-name>
        <url-pattern>/restaurant/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantAddController</servlet-name>
        <url-pattern>/restaurant/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantDeleteController</servlet-name>
        <url-pattern>/restaurant/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantUpdateController</servlet-name>
        <url-pattern>/restaurant/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleListController</servlet-name>
        <url-pattern>/vehicle/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleAddController</servlet-name>
        <url-pattern>/vehicle/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleUpdateController</servlet-name>
        <url-pattern>/vehicle/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleDeleteController</servlet-name>
        <url-pattern>/vehicle/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelDetailController</servlet-name>
        <url-pattern>/hotel/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantDetailController</servlet-name>
        <url-pattern>/restaurant/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleDetailController</servlet-name>
        <url-pattern>/vehicle/detail</url-pattern>
    </servlet-mapping>
    <!--kien-->
    <servlet>
        <servlet-name>AllTourViewingByCategory</servlet-name>
        <servlet-class>controller.tour.AllTourViewingByCategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllTourViewingByCategory</servlet-name>
        <url-pattern>/view/listtourbycategory</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TourArrangement</servlet-name>
        <servlet-class>controller.tour.TourArrangement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TourArrangement</servlet-name>
        <url-pattern>/arrangement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TourController</servlet-name>
        <servlet-class>controller.tour.TourController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TourController</servlet-name>
        <url-pattern>/tourcontroller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TourSearching</servlet-name>
        <servlet-class>controller.tour.TourSearching</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TourSearching</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VoucherController</servlet-name>
        <servlet-class>controller.VoucherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VoucherController</servlet-name>
        <url-pattern>/createvoucher</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTourDetail</servlet-name>
        <servlet-class>controller.tour.TourDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTourDetail</servlet-name>
        <url-pattern>/tourdetail</url-pattern>
    </servlet-mapping>
    <!--luc-->
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>controller.ViewProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/profile/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>controller.EditProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/profile/edit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewVoucherController</servlet-name>
        <servlet-class>controller.ViewVoucherController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewVoucherController</servlet-name>
        <url-pattern>/voucher/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateConversationController</servlet-name>
        <servlet-class>controller.CreateConversationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateConversationController</servlet-name>
        <url-pattern>/travelnet/contact</url-pattern>
    </servlet-mapping>
    <!--thanh-->
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cartdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDeleteController</servlet-name>
        <url-pattern>/view/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartApprove</servlet-name>
        <url-pattern>/view/approvecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartOverViewController</servlet-name>
        <url-pattern>/view/cartoverview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoriteController</servlet-name>
        <url-pattern>/view/favourite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyTourController</servlet-name>
        <url-pattern>/mytour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourController</servlet-name>
        <url-pattern>/view/searchtour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewController</servlet-name>
        <url-pattern>/view/review</url-pattern>
    </servlet-mapping>
    <!--luc-->
    <servlet>
        <servlet-name>AddStaffController</servlet-name>
        <servlet-class>controller.staff.AddStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffController</servlet-name>
        <servlet-class>controller.staff.ListStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffController</servlet-name>
        <servlet-class>controller.staff.EditStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffController</servlet-name>
        <servlet-class>controller.staff.DeleteStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVoucherController</servlet-name>
        <servlet-class>controller.Voucher.ListVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVoucherController</servlet-name>
        <servlet-class>controller.Voucher.CreateVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVoucherController</servlet-name>
        <servlet-class>controller.Voucher.EditVoucherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffByNameController</servlet-name>
        <servlet-class>controller.staff.SearchStaffByNameController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStaffController</servlet-name>
        <url-pattern>/staff/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffController</servlet-name>
        <url-pattern>/staff/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffController</servlet-name>
        <url-pattern>/staff/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffController</servlet-name>
        <url-pattern>/staff/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVoucherController</servlet-name>
        <url-pattern>/voucher/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVoucherController</servlet-name>
        <url-pattern>/voucher/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVoucherController</servlet-name>
        <url-pattern>/voucher/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffByNameController</servlet-name>
        <url-pattern>/staff/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelMyTourController</servlet-name>
        <url-pattern>/view/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReviewController</servlet-name>
        <url-pattern>/view/editreview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReviewController</servlet-name>
        <url-pattern>/view/deletereview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassWord</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>
            swp391_project_main/view/home
        </welcome-file>
    </welcome-file-list>-->
</web-app>
